@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap');
body{
    font-family: DM sans;
}
.shop-section {
  padding: 4rem 5%;
  background-color: #d8a7b1;
  text-align: center;
}

.shop-section h2 {
  font-size: 3.5rem;
  color: #822659;
  margin-bottom: 0.5rem;
  font-family: Sevillana;
}

.shop-intro {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin: auto;
}

.shop-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  color: #fff;

}

.product-card {
  background: #ca8585;
  padding: 1.5rem;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  text-align: left;
  margin-top: 3rem;
  color: #fff;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-card h3 {
  color: #2C2C54;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 0.95rem;
  color: #fff;
  margin-bottom: 1rem;
}

.product-card button {
  padding: 0.7rem 1.5rem;
  background-color: #822659;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.product-card button:hover {
  background:transparent;
  border: 2px solid #822659;
  color: #fff;
}
